/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.7z
/storage/cache.dev
/storage/cache.production
/storage/cache.local
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/.idea
/public/js/app.js
/public/assets/css/all1.min.css
/public/assets/js/all.min.js
/public/css/app.css
/public/assets/js/app.js
/public/files/
/public/media
/package-lock.json

/public/assets/css/all.min.css
/public/assets/css/app.css
/config/env/env.php
/storage/cache/
/storage/sample/~$VNPD_BC_NHNN.xlsx
*.xlsx
/storage/reports/
/storage/csv/
